/node_modules
/Frontend/node_modules
/Frontend/.env
/Backend/node_modules
/Backend/log
/Backend/.env
# /Backend/public/storage
/Frontend/npm-debug.log*
/Frontend/yarn-debug.log*
/Frontend/yarn-error.log*
/Frontend/build
